/*------------------------------------*\
  #Default settings
\*------------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: white;
  font-size: 10px;
  color: black;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  overflow-y: scroll;
}

body {
  font-size: 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*------------------------------------*\
  #Keyframes
\*------------------------------------*/

@keyframes loading {
  0% {
    background-color: #1873af;
    transform: rotate(0deg);
    border-radius: 0;
  }

  50% {
    background-color: #eb403c;
    transform: rotate(90deg);
    border-radius: 50%;
  }

  100% {
    background-color: #1873af;
    transform: rotate(180deg);
    border-radius: 0;
  }
}
